<section class="container">
    <h1 class="text-center">Task Master</h1>
    <p class="text-center">
        <i>
            Master yours tasks, before they become your master.
        </i>
    </p>
    <nav>
        <menu id="main-menu">
            <li id="home-menu-item">
                <a href="index.html">Home</a>
            </li>

            <li>
                <label for="theme-switch" title="Toggle light/dark mode">
                    Theme
                    <input type="checkbox" class="switch" id="theme-switch">
                </label>
            </li>
        </menu>
    </nav>
</section>