<section class="container">
  <h1 class="text-center">Task Master</h1>
  <p class="text-center">
    <i> Master your tasks before they become your master.</i>
  </p>
  <nav x-data>
    <menu id="main-menu">
      <li class="form-group">
        <label for="create-button"> Add Task </label>
        <button
          class="btn btn-icon btn-outline-primary"
          title="Add new task"
          @click="htmx.find('#create-task-dialog').showModal()"
        >
          <svg
            aria-hidden="true"
            viewBox="0 0 24 24"
            width="24"
            height="24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <line x1="12" y1="5" x2="12" y2="19"></line>
            <line x1="5" y1="12" x2="19" y2="12"></line>
          </svg>
        </button>
      </li>

      <li>
        <label for="theme-switch" title="Toggle light/dark mode">
          Theme
          <input type="checkbox" class="switch" id="theme-switch" />
        </label>
      </li>
    </menu>
  </nav>
</section>
