<h2 class="text-center">Search Tasks</h2>

<search class="card grid">
  <div class="form-group col-6">
    <label for="search-input" class="form-label">Search</label>
    <input
      type="search"
      class="form-control"
      id="search-input"
      placeholder="Search tasks..."
    />
  </div>

  <div class="form-group col-6">
    <label for="search-by" class="form-label">By</label>
    <select id="search-by" class="form-control">
      <option value="title">Title</option>
      <option value="due_date">Due Date</option>
      <option value="status">Status</option>
    </select>
  </div>
</search>

<h2 class="text-center">Results</h2>

<section
  id="results"
  class="content wrapped-row"
  x-data="{
        tasks: [
            {
                id: 1,
                title: 'Stuff', 
                due_date: '2023-09-01T00:00:00Z', 
                status: 'in-progress' 
            },
            {
                id: 2,
                title: 'Things', 
                description: 'There comes a time in every young man\'s life when he must quite reasonably say \'I shall never play the Dane\'', 
                due_date: '2023-09-02T00:00:00Z', 
                status: 'completed' 
            },
            { 
                id: 3,
                title: 'This', 
                due_date: '2023-09-03T00:00:00Z', 
                status: 'pending' 
            },
            {
                id: 4,
                title: 'That', 
                due_date: '2023-09-04T00:00:00Z', 
                description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
                status: 'in-progress' 
            }
        ],
    }"
>
  <template x-for="task in tasks">
    <div class="card">
      <div class="content grid">
        <span class="col-10">
          <span class="badge badge" x-text="`id: ${task.id}`"></span>
        </span>

        <button
          title="Edit Task"
          class="btn btn-icon btn-outline-primary col-1"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            viewBox="0 0 20 20"
            aria-hidden="true"
          >
            <path
              d="M2 14.5V18h3.5l10.06-10.06-3.5-3.5L2 14.5zm14.85-7.35a1.003 1.003 0 0 0 0-1.42l-2.58-2.58a1.003 1.003 0 0 0-1.42 0l-1.34 1.34 3.5 3.5 1.34-1.34z"
            />
          </svg>
        </button>

        <button
          title="Delete Task"
          class="btn btn-icon btn-outline-danger col-1"
        >
          <svg
            aria-hidden="true"
            viewBox="0 0 24 24"
            width="24"
            height="24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M6 18L18 6"></path>
            <path d="M6 6l12 12"></path>
          </svg>
        </button>
      </div>

      <h2 class="card-header text-center" x-text="task.title"></h2>

      <div class="card-body">
        <template x-if="task.description">
          <p x-text="task.description"></p>
        </template>
      </div>

      <div class="card-footer content grid">
        <span class="col-12">
          <strong>Due:</strong>
          <span x-text="new Date(task.due_date).toLocaleDateString()"></span>
        </span>

        <span class="col-12">
          <span
            :class="{
                'badge': true,
                'badge-warning': task.status === 'in-progress',
                'badge-success': task.status === 'completed',
                'badge-secondary': task.status === 'pending'
            }"
            x-text="task.status.toUpperCase()"
          ></span>
        </span>
      </div>
    </div>
  </template>
</section>
