.badge {
    display: inline-block;
    padding: var(--space-xs) var(--space-sm);
    border-radius: 50px;
    font-size: 0.75rem;
    font-weight: bold;
    background-color: var(--colour-surface-lowest);
    color: var(--colour-background);
}

.badge-primary {
    background-color: var(--colour-primary);
}

.badge-secondary {
    background-color: var(--colour-secondary);
}

.badge-success {
    background-color: var(--colour-success);
}

.badge-warning {
    background-color: var(--colour-warning);
}

.badge-danger {
    background-color: var(--colour-danger);
}