dialog,
dialog.card {
  margin: auto;
  scale: 0.9;
  opacity: 0;
}

dialog[open] {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(2px);
  transition: background 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

